code {
  font-size: 100%;
}

kbd {
  background-color: #aaa;
}

.grayscale {
  filter: grayscale(10%);
}

.gradient {
  background-color: #5a2466;
  background: linear-gradient(
    221deg,
    #1389cc,
    #246655,
    #5a2466,
    #cc3e13,
    #077007,
    #1389cc
  );
  background-size: 1000% 1000%;
  animation: gradient 44s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 50%;
  }
}
