<!doctype html>
<html lang="{{ .Page.Language | default "en" }}" class="h-100">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ block "title" . }} {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }} {{ end }}
  </title>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=fallback">

  {{ $styles := resources.Get "css/styles.scss" | toCSS | minify | fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <meta name="last-modified" content="{{ now.Format "2006-01-02"}}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="theme-color" content="#F48F38">
  <meta name="description" content="{{ .Description }}">
  {{ `<!--[if IE]>
      <link href="/css/bootstrap-ie9.min.css" rel="stylesheet">
      <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <![endif]-->` | safeHTML }}

  {{ partial "opengraph" . }}

</head>

<body class="d-flex flex-column min-vh-100">

  {{ block "body" . }} {{ block "main" . }} {{ end }}

  {{ end }}

  {{ block "footer" . }} {{ partial "footer" . }} {{ end }}


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"><\/script>')</script>

  {{ $index := resources.Get "js/bootstrap/index.js" }}
  {{ $alert := resources.Get "js/bootstrap/alert.js" }}
  {{ $button := resources.Get "js/bootstrap/button.js" }}
  {{ $dropdown := resources.Get "js/bootstrap/dropdown.js" }}
  {{ $modal := resources.Get "js/bootstrap/modal.js" }}
  {{ $popover := resources.Get "js/bootstrap/popover.js" }}
  {{ $js := slice $index $alert $button | resources.Concat "js/bootstrap.js" | minify }}
  <script src="{{ $js.Permalink }}"></script>

  {{- if not .Site.IsServer -}}
  {{ partial "analytics" . }}
  {{- end -}}

</body>

</html>